*.DS_Store
__pycache__
.ipynb_checkpoints
.vscode

Weights/*
!Weights/embeddingWeights/
Weights/embeddingWeights/.vector_cache/*
!Weights/embeddingWeights/.vector_cache/.gitkeep

Dataset/rawData/*
Dataset/*
!Dataset/casie100_0430
!Dataset/casieAll/
!Dataset/casieAll_0430/
!Dataset/others/
!Dataset/rawData/
!Dataset/rawData/CasieCoref0418/
!Dataset/rawData/CasieCoref0430/

BERTs

Logs/*
!Logs/.gitkeep

lightning_logs
dataLoader_backup.py

wandb
